<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="br.ufrgs.inf.ras.editors.AssetFileEditor"
            contributorClass="br.ufrgs.inf.ras.editors.RASManifestMultiPageEditorContributor"
            extensions="xml"
            icon="icons/sample.gif"
            id="br.ufrgs.inf.ras.editors.RASManifestMultiPageEditor"
            name="RAS Manifest Editor">
      </editor>
      <editor
            class="br.ufrgs.inf.ras.editors.xml.RASXMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="xml"
            icon="icons/sample.gif"
            id="br.ufrgs.inf.ras.editors.xml.RASXMLEditor"
            name="RAS XML Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="RAS"
            id="RASWizardCategory_ID">
      </category>
      <wizard
            name="New RAS Manifest"
            icon="icons/sample.gif"
            category="RASWizardCategory_ID"
            class="br.ufrgs.inf.ras.wizards.NewRASFileWizard"
            id="br.ufrgs.inf.ras.wizards.NewRASFileWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="RASWizardCategory_ID"
            class="org.eclipse.ui.wizards.datatransfer.ZipFileExportWizard"
            icon="icons/sample.gif"
            id="br.ufrgs.inf.ras.wizards.ExportRASFileWizard"
            name="RAS Asset">
      </wizard>
      <category
            id="RASWizardCategory_ID"
            name="RAS">
      </category>
   </extension>

</plugin>
